<h1>Application</h1>

<nav>
    {{#linkTo "index"}}Home{{/linkTo}} |
    {{#linkTo "about"}}About{{/linkTo}} |
    {{#linkTo "favorites"}}Favorites{{/linkTo}} |
    {{#linkTo "contributors"}}Contributors{{/linkTo}} |
    {{#linkTo "rests"}}Restaurants{{/linkTo}} |
    {{#linkTo "tables"}}Tables{{/linkTo}}
</nav>

<h1>Order</h1>

<p>Your content here.</p>

{{outlet}}

